@font-face {
  font-family: "Cardo-Regular";
  src: url("../fonts/Cardo/Cardo-Regular.woff") format("woff");
  font-weight: 400;
 }
@font-face {
  font-family: "Cardo-Bold";
  src: url("../fonts/Cardo/Cardo-Bold.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "Lato-Light";
  src: url("../fonts/Lato/Lato-Light.woff") format("woff");
  font-weight: 300;
}
@font-face {
  font-family: "Lato-Regular";
  src: url("../fonts/Lato/Lato-Regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Lato-Bold";
  src: url("../fonts/Lato/Lato-Bold.woff") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "Lato-Black";
  src: url("../fonts/Lato/Lato-Black.woff") format("woff");
  font-weight: 900;
}

:root {
  --container: 1440px;
  --dark-gray-color: #232323;
  --light-gray-color:#e9e7e7;
  --medium-gray-color:#919191;
  --gray-color: #c4c4c4;
  --button-width_150-210: clamp(9.375rem, 8.304rem + 5.36vw, 13.125rem);
  --h2_fz_38-56: clamp(2.375rem, 2.054rem + 1.61vw, 3.5rem);
}

body {
  background-color: var(--light-gray-color);
  color: var(--dark-gray-color);
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
p {
  margin: 0;
}

.wrapper {
  padding: 30px 0;

}
.container {
  max-width: var(--container);
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

/* ----------HEADER---------- */
.header {
  box-sizing: border-box;
  margin: 0 auto;
  margin-bottom: 100px;
  display: flex;
  justify-content: center ;
}
.header-wrapper {
  max-width: 1220px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; 
}
.header__logo {
  width: 150px;
  height: 75px;
  font-family: "Cardo-Bold";
  font-size: 34px;
  text-align: center;
  line-height: 36px;
  color: var(--light-gray-color);
  background-color: var(--dark-gray-color);
  background-image: url('../images/lines/scribble_light-3.png');
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 3px;
}
.header__nav {
  max-width: 460px;
  width: 100%;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  gap: 30px;

  display: none;
}
.header__link {
  font-family: "Lato-Light";
}
.header__link_active {
  font-family: "Lato-Black";
}
.header__link:hover {
  font-family: "Lato-Black";
}
.button {
  width: var(--button-width_150-210);
  height: 50px;
  font-size: 16px;
  font-family: "Lato-Black";
  border-radius: 3px;
  cursor: pointer;
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
}
.button:active {
  transform: scale(0.95);
}
.header__button {
  border: 3px solid var(--dark-gray-color);
  background-color: var(--light-gray-color);
}
.header__button:hover {
  background-color: var(--dark-gray-color);
  color: var(--light-gray-color);
}

@media screen and (min-width: 992px) {
  .header-wrap {
    gap: 30px;
  }
  .header__nav {
    display: flex;
  }
  .button {
    font-size: 20px;
  }
}

/* ----------MAIN----------- */

/* ----------section banner */
.banner {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
.banner-wrapper {
  max-width: 1220px;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.banner__text-wrap {
  font-family: "Cardo-Bold";
  text-align: center ;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.banner__text-wrap > h1 {
  margin-bottom: 20px;
  font-size: clamp(2.625rem, 1.911rem + 3.57vw, 5.125rem);
  line-height: 1;
  letter-spacing: -2.04px;
}
.banner__text-wrap > p {
  margin-bottom: 20px;
  font-family: "Lato-Regular";
  letter-spacing: -0.41px;
}
.banner__button {
  border: 3px solid var(--dark-gray-color);
  background-color: var(--dark-gray-color);
  color: var(--light-gray-color);
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
}
.banner__button:hover {
  background-color: var(--light-gray-color);
  color: var(--dark-gray-color);
}
.banner__image-wrap {
  max-width: 660px;
  width: 100%;
  max-height: 420px;
  height: 100%;
}
.banner__image-wrap > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (min-width: 992px) {
  .banner-wrapper {
    flex-flow: row nowrap;
    justify-content: space-between;
    /* gap: clamp(2.5rem, -8.571rem + 17.86vw, 7.5rem); */
  }
  .banner__text-wrap {
    align-self: stretch;
    max-width: 410px;
    align-items: flex-start;
    text-align: left ;
  }
}

/* ---------section create-memory---------- */
.create-memory {
  background-color: var(--dark-gray-color);
  padding: 50px 0;
  display: flex;
  justify-content: center;
  position: relative;
  overflow-x: hidden;
  margin-bottom: 100px;
}
.create-memory__wrapper {
  color: var(--light-gray-color);
  text-align: center;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  max-width: 460px;
  width: 100%;
}
.create-memory__wrapper > h2 {
  font-family: "Cardo-Bold";
  letter-spacing: -1.39px;
  font-size: var(--h2_fz_38-56);
  margin-bottom: 30px;
  line-height: 1;
}
.create-memory__wrapper > p {
  font-family: "Lato-Regular";
  letter-spacing: -0.41px;
  font-size: 16px;
  margin-bottom: 30px;
}
.create-memory__button {
  border: 3px solid var(--light-gray-color);
  background-color: var(--light-gray-color);
}
.create-memory__button:hover {
  background-color: var(--dark-gray-color);
  color: var(--light-gray-color);
}
.create-memory__scribble {
  /* 125-500 */
  width: clamp(7.813rem, 1.116rem + 33.48vw, 31.25rem);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}
.create-memory__scribble:nth-of-type(2){
 background-image: url('../images/lines/scribble_light-5.png');
/* 42,5-170 */
 height: clamp(2.656rem, 0.379rem + 11.38vw, 10.625rem);
 left: -75px;
 top: 50px;
}
.create-memory__scribble:nth-of-type(3){
  background-image: url('../images/lines/scribble_light-4.png');
  /* 22.5-90*/
  height: clamp(1.406rem, 0.201rem + 6.03vw, 5.625rem);
  right: -28px;
  bottom: 65px;
}
@media screen and (max-width: 575px) {
  .create-memory__scribble {
    display: none;
  }
}

/* ------------section new-places------------ */
.new-places {
  display: flex;
  justify-content: center;

  margin-bottom: 100px;
}
.new-places__wrapper {
  max-width: 1220px;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.new-places__text-wrap {
  max-width: 780px;
  width: 100%;
  margin-bottom: 30px;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.new-places__text-wrap > h2 {
  /* 42-98 */
  font-size: clamp(2.813rem, 1.866rem + 4.73vw, 6.125rem);
  font-family: "Cardo-Bold";
  line-height: 1;
  letter-spacing: -2.44px;
  margin: 20px 0 60px 0;
}
.new-places__text-wrap > p {
  font-family: "Lato-Black";
  letter-spacing: -0.63px;
  font-size: 18px;
}
.new-places__airplane {
  width: 73px;
  height: 74px;
  background-image: url('../images/icons/airplace-icon.png');
}
.new-places__photos-wrap {
  display: flex;
  justify-content: center;
}
.new-places__big-photo {
  margin-right: 40px;
  max-width: 564px;
  width: 100%;
  max-height: 776px;
  height: 100%;
  display: none;
  position: relative;
}
.new-places__big-photo > img {
  width: 100%;
  object-fit: cover;
}
.new-places__big-photo::before {
  content: '';
  background-image: url('../images/lines/tape.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 52px;
  height: 252px;
  top: 50%;
  transform: translateY(-50%);
  left: -25px;
}
.new-places__description-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.description__photo-wrap {
  max-width: 418px;
  width: 100%;
  max-height: 322px;
  height: 100%;
}
.description__photo-wrap > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.description__text-wrap {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.description__text-wrap > a {
  text-decoration: underline;
  /* 20-36 */
  font-size: clamp(1.25rem, 0.964rem + 1.43vw, 2.25rem);
  font-family: "Cardo-Bold";
  letter-spacing: -0.91px;
  line-height: 1.37;
}
.description__link-description {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.description__link-description > p {
  font-size: 16px;
  font-family: "Lato-Regular";
  letter-spacing: -0.41px;
}
.description__arrow {
  width: 120px;
  height: 40px;
  align-self: flex-end;
  display: none;
}
.description__arrow > a {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-image: url('../images/icons/arrow.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.new-places__scribble {
  /* 29-115 */
  width: clamp(1.813rem, -2.995rem + 13.35vw, 7.188rem);
  /* 115-460 */
  height: clamp(7.188rem, -12.098rem + 53.57vw, 28.75rem);
  background-image: url('../images/lines/scribble_dark-5.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: 5%;
  top: 10%;
  display: none;
}
@media screen and (min-width: 576px) {
  .description__text-wrap {
    flex-direction: row;
    text-align: left;
  }
  .description__text-wrap > a {
    text-align: center;
  }
  .description__link-description {
    max-width: 50%;
  }
} 
@media screen and (min-width: 992px) {
  .new-places__text-wrap {
    margin-bottom: 60px;
  }
  .new-places__text-wrap > p {
    font-size: 25px;
  }
  .new-places__big-photo {
    display: block;
  }
  .new-places__description-wrap {
    align-items: flex-start;
    gap: 60px;
  }
  .description__text-wrap > a {
    text-align: left;
  }
  .description__link-description {
    max-width: 320px;
  }
  .description__arrow {
    display: block;
  }
  .new-places__scribble {
    display: block;
  }
} 

/* ----------section choose---------- */
.choose {
  background-color: var(--dark-gray-color);
  padding: 40px 0;
  position: relative;
  margin-bottom: 100px;
}
.choose__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.choose__text-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  color: var(--light-gray-color);
  text-align: center;
}
.choose__text {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.choose__text-wrap h2 {
  font-family: "Cardo-Bold";
  letter-spacing: -1.39px;
  font-size: var(--h2_fz_38-56);
  margin-bottom: 30px;
  line-height: 1;
}
.choose__text-wrap h3 {
  font-family: "Lato-Black";
  letter-spacing: -0.63px;
  font-size: 18px;
  margin-bottom: 20px;
}
.choose__text-wrap p {
  font-size: 16px;
  font-family: "Lato-Regular";
  letter-spacing: -0.41px;
}
.choose__photo-wrap {
  width: 75%;
}
.choose__photo-wrap > img {
  width: 100%;
  object-fit: cover;
  transform: scale(1.0001);
}
.choose__scrible {
  width: clamp(32.813rem, 8.732rem + 38.84vw, 43.688rem);
  height: clamp(7.188rem, 1.79rem + 8.71vw, 9.625rem);
  background-image: url('../images/lines/scribble_light-3.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: absolute;
  bottom: -3%;
  left: -5%;
  display: none;
}

@media screen and (min-width: 992px) {
  .choose {
    padding: 150px 0;
  }
  .choose__wrapper {
    flex-direction: row;
    gap: 0;
  }
  .choose__text-wrap {
    width: calc(50% - 40px);
    text-align: left;
  }
  .choose__text-wrap h3 {
    font-size: 25px;
  }
  .choose__text {
    max-width: 455px;
    gap: 60px;
  }
  .choose__photo-wrap {
    width: calc(50% + 40px);
  }
  .choose__scrible {
   display: block;
  }
} 

/* ------------section accordion------------- */
.offers {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
.offers__wrapper {
  max-width: 1220px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.offers__text-wrap > h2 {
  font-family: "Cardo-Bold";
  letter-spacing: -1.39px;
  font-size: var(--h2_fz_38-56);
  font-size: clamp(2.625rem, 1.911rem + 3.57vw, 5.125rem);
  margin-bottom: 30px;
  line-height: 1;
  text-align: center;
}
.offers__accordion {
  width: 90%;
  margin: 0 auto;
}
.accordion {
}
.accordion__item {
  font-family: "Lato-Bold";
  font-size: 18px;
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px 60px 15px 40px;
  text-align: left;
  position: relative;
  border-top: 2px solid var(--dark-gray-color);
  border-bottom: 2px solid transparent;
  background-color: var(--light-gray-color);
  transition: background-color 0.3s ease-in-out, border-bottom-color .7s linear;
}
.accordion__item::after {
  content: '';
  display: block;
  width: 25px;
  height: 25px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' class='w-6 h-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M19.5 8.25l-7.5 7.5-7.5-7.5' /%3E%3C/svg%3E");
  transition: transform 0.2s linear;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  right: 20px;
  top: calc(50% - 12px);
}
.accordion__item:hover {
  background-color: rgb(212, 212, 212);
}
.accordion__item.open::after {
  transform: rotate(180deg);
}
.accordion__item.open {
  background-color:  rgb(212, 212, 212);
  border-bottom-color: var(--dark-gray-color);
  transition:  border-bottom-color .1s linear;
}
.accordion__item:last-of-type {
  border-bottom: 2px solid var(--dark-gray-color);
}
.accordion__content {
  height: 0;
  overflow: hidden;
  transition: height .3s ease-in-out;
}
.accordion__content > p {
  padding: 10px 40px;
  font-size: 16px;
  font-family: "Lato-Regular";
  letter-spacing: -0.41px;
}
.offers__photo-wrap {
  flex-shrink: 0;
  width: 390px;
  height: 510px;
  display: none;
}
.offers__photo-wrap > img {
  width: 100%;
  object-fit: cover;
}

@media screen and (min-width: 992px) {
  .offers__wrapper {
    max-width: 1220px;
    width: 100%;
    flex-direction: row;
  }
  .offers__accordion {
    width: 100%;
  }
  .offers__photo-wrap {
    display: block;
  }
  .offers__text-wrap > h2 {
    text-align: left;
    margin-bottom: 80px;
  }
}

/* ------------section be-updated----------- */
.be-updated {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
.be-updated__wrapper {
  max-width: 1220px;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.be-updated__text-wrap {
  max-width: 455px;
  width: 100%;
}
.be-updated__text-wrap > h2 {
  width: 100%;
  margin-bottom: 40px;
  font-size: clamp(2.625rem, 1.911rem + 3.57vw, 5.125rem);
  line-height: 1;
  letter-spacing: -2.04px;
  text-align: center;
}
.be-updated__form {
  min-height: 500px;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.form > input,
.form > textarea {
  border: 3px solid var(--dark-gray-color);
  border-radius: 3px;
  padding: 10px 20px;
  font-family: "Lato-Regular";
  font-size: 16px;
  color: var(--dark-gray-color);
}

.form > input:focus,
.form > textarea:focus {
  background-color:  rgb(212, 212, 212);
}
.be-updated__button {
  width: 100%;
  height: auto;
  padding: 15px 30px;
  background-color: var(--dark-gray-color);
  color: var(--light-gray-color);
  border: 3px solid var(--dark-gray-color);
}
.be-updated__button:hover {
  background-color: var(--light-gray-color);
  color: var(--dark-gray-color);
}
.form > textarea {
  height: 224px;
  margin-bottom: 10px;
  resize: none;
}
.be-updated__photo-wrap {
  max-width: 666px;
  width: 100%;
  max-height: 730px;
  height: 100%;
}
.be-updated__photo-wrap > img {
  width: 100%;
  object-fit: cover;
} 

@media screen and (min-width: 992px) {
  .be-updated__wrapper {
    flex-direction: row;   
    justify-content: space-between;
    gap: 30px;
  }
  .be-updated__text-wrap > h2 {
    text-align: left;
  }
  .be-updated__form {
    min-height: 610px;
  }
  .form > input,
  .form > textarea {
    padding: 15px 30px;
    font-size: 21px;
  }
  .form > textarea {
    margin-bottom: 35px;
  }
}

/* -----------footer------------ */
.footer {
  background-color: var(--gray-color);
  padding: 110px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.footer__wrapper {
  max-width: 1220px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}
.footer__wrapper > h2 {
  width: 100%;
  font-size: var(--h2_fz_38-56);
  line-height: 1;
  letter-spacing: -2.04px;
  text-align: center;
}
.footer__links-container {
  max-width: 830px;
  width: 100%;
}
.footer__links-container > h3 {
  font-family: "Lato-Black";
  letter-spacing: -0.63px;
  font-size: 18px;
  margin-bottom: 20px;
  text-align: center  ;
}
.footer__links-container a {
  font-size: 21px;
  line-height: 2.38;
  letter-spacing: -0.52px;
  font-family: "Lato-Regular";
}
.footer__links-container a:hover {
  font-family: "Lato-Bold";
}
.footer__links-wrap {
  display: flex;
  justify-content: space-between;
  gap: 30px ;
}
.links__col {
  flex: 25%;
  display: flex;
  flex-direction: column;
}
.footer__wrapper + p {
  margin-top: 60px;
  font-size: 21px;
  text-align: center;
  font-family: "Lato-Regular";
  letter-spacing: -0.52px;
}
.footer__scribble {
  width:clamp(18.75rem, 4.911rem + 22.32vw, 25rem);
  height: clamp(8.063rem, 1.835rem + 10.04vw, 10.875rem);
  background-image: url('../images/lines/scribble_dark-2.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: absolute;
  bottom: 10%;
  left: 1%;
  display: none;
}
@media screen and (min-width: 992px) {
  .footer__wrapper {
   flex-direction: row;
   gap: 30px;
  }
  .footer__wrapper > h2 {
    max-width: 210px;
    text-align: left;
  }
  .footer__links-container > h3 {
    font-size: 25px;
    text-align: left;
  }
  .footer__scribble {
    display: block;
  }
}
